body{
  color: #FFFFFF;
  background-color: #000000;
}
.no-gutters{
  background-color: #FFFFFF;
}
.card-text{
  color: #000000;
}
.card-img{
  height: 100%;
}

.img_tb{
  width: 70px !important;
  height: 70px !important;
}
.img_crud{
  margin-top:70px !important;
  width:200px !important;
  height:70% !important}
